<!DOCTYPE html>
<html>
<title>LEGATO MOSSO</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

  <div class="w3-top" style="margin-top:50px;" style="box-shadow:0px 0px 10px 0px black; text-decoration:none; z-index:5; position:fixed;">
    <div class="w3-row w3-padding w3-black">
      <div class="w3-col s2">
        <a href="home" class="w3-button w3-block w3-black">HOME</a>
      </div>
      <div class="w3-col s2">
        <a href="about" class="w3-button w3-block w3-black">ABOUT</a>
      </div>
      <div class="w3-col s2">
        <a href="payments" class="w3-button w3-block w3-black">PAYMENT</a>
      </div>
      <div class="w3-col s2">
        <a href="comingsoon" class="w3-button w3-block w3-black">NEWS</a>
      </div>
      <div class="w3-col s2">
        <a href="contact" class="w3-button w3-block w3-black">CONTACT</a>
      </div>
      <div class="w3-col s2">
        <a href="developer" class="w3-button w3-block w3-black"><small>DEVELOPER</small></a>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" src="/w3images/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
      <h1 class="w3-xxlarge">Le Catering</h1>
    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
      <div class="w3-col m6 w3-padding-large w3-hide-small">
       <img src="http://thedentistz.com/images/Features/EASY-PAYMENT-OPTIONS.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750" style="margin-top:100px;">
      </div>

      <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">How It Works</h1><br>
        <h5 class="w3-center" style="margin-left:-27px;">We try to make it as simple and as easy for you as possible!</h5>
        <p class="w3-large">When you contact Legato Mosso you will talk with a web developer to discuss what your idea for your website will be.  After you have a clear understanding of what you want, you will be explained on how the pricing will be calculated.  To make it easier for clients, we have flexible payment options.</p>
        <p class="w3-large w3-text-grey w3-hide-medium">If you would like to learn more, please do not hesitate to contact Legato Mosso.  We are very easy to talk to and try to be as understanding as possible.  If there are any questions or concerns, you can contact us through email and/or phone number. We're looking forward to hearing from you!</p>
      </div>
    </div>




  <!-- End page content -->
  </div>



  </body>
  </html>
