<!DOCTYPE html>
<html>
<title>LEGATO MOSSO</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">
  <div class="w3-top" style="box-shadow:0px 0px 10px 0px black; text-decoration:none; z-index:5; position:fixed;">
    <div class="w3-row w3-padding w3-black">
      <div class="w3-col s2">
        <a href="home" class="w3-button w3-block w3-black">HOME</a>
      </div>
      <div class="w3-col s2">
        <a href="about" class="w3-button w3-block w3-black">ABOUT</a>
      </div>
      <div class="w3-col s2">
        <a href="payments" class="w3-button w3-block w3-black">PAYMENT</a>
      </div>
      <div class="w3-col s2">
        <a href="comingsoon" class="w3-button w3-block w3-black">NEWS</a>
      </div>
      <div class="w3-col s2">
        <a href="contact" class="w3-button w3-block w3-black">CONTACT</a>
      </div>
      <div class="w3-col s2">
        <a href="developer" class="w3-button w3-block w3-black"><small>DEVELOPER</small></a>
      </div>

    </div>
  </div>
  <div class="space" style="margin-top:60px;"></div>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://i.ibb.co/K5Wj8zt/IMG-3400.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Tyree Robinson</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Full Stack Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>New Jersey, US</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>robinsontyree077@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+1 (856)-397-1805</p>
        </div>
      </div>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>SOFTWARE ENGINEERING BIO</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Full Stack Developer</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Started off with online tutoring, and later on seeked professional mentorship.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>legatomosso.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2019 -></h6>
          <p>This website that you are currently browsing was built from scratch on the day of April 19th, 2019.  This website will soon be drastically improved on the date of July 1st, 2019.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>About Me</b></h5>
          <p>I'm an 18 year old software engineer who has a really strong passion in web development.  My over all goal is to make the business lifestyle less intimidating to incoming entrepreneurs and even experienced entrepreneurs as well.  There can be a lot of tough obstacles when starting or managing a business, which is why it's very important to evolve your company to the point where you wouldn't have to spend more time managing it but making sales instead.  I am also experienced in developing native mobile applications.  My reason for starting this company is the fact that most local businesses actually surprisingly do not have websites.  This becomes a pretty big issue considering the fact that a website shows what a business is all about.  A business without a website is likely to recieve more rejections than a business with an advertisment friendly website that attracts people to their service/product.</p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Software Development Coding Languages/Technologies</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>MongoDB</b></h5>
          <p>This is the name of the database that will run behind your website giving the saved data that it needs to operate.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Express</b></h5>
          <p>This is a routing framework that's used to allow website visitors to access a specific page according to the url(Profile Pages For Example).</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Angular7</b></h5>
          <p>This is a popular and recommended Javascript framework that allows developers to finish front-end development in more of an easier fashion.</p><br>
        </div>
        <hr>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>NodeJS</b></h5>
          <p>Used to build RESTful(Representational State Transfer) APIs. A RESTful api allows website data to be shared with users while managing what data is available to the public and what data isn't.</p><br>
        </div>
        <hr>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>PHP</b></h5>
          <p>PHP is commonly used to build forms that sends data to a specific location.</p><br>
        </div>
        <hr>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>VanillaJS</b></h5>
          <p>This helps us build an application that uses math to think for itself.</p><br>
        </div>
        <hr>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>JQuery</b></h5>
          <p>This javascript library is very helpful when it comes to adding basic animation that gives your website life and excitement. It does so by making html components respond to mouse clicking or finger tapping actions.</p><br>
        </div>
        <hr>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>HammerJS</b></h5>
          <p>This is used to allow your web application to respond to touch screens (EX:double taps) and mouse clicks (EX:double clicks).</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>



</body>
</html>
